<div class="container">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 mainpage">

      <h1>Archive > Years</h1>
      <div (click)="togglePartsContainer(i)" *ngFor="let loop of loopVar; let i = index" class="yearRow">
      	<div *ngFor="let year of years | slice: (i * rowCount) : rowCount * (i + 1); let j = index" (click)="showParts(year)" [ngClass]="{'year': true, 'active': yearDisplayed[year]}">{{ year }}</div>
  	  	<div *ngIf="rowDisplayed[i]" id="issueHolder" class="issueHolder" style="display: block;">
  			<div class="issueRow">
	  			<div *ngFor="let part of parts" class="issue">
	  				<a routerLink="/articles/toc" [queryParams]="{volume: part.volume, part: part.part}">{{ part.date | date:'MMM d'}}</a>
  				</div>
			</div>
		</div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
</div>