.homepage .intro .titlegroup{
  margin-top: 25%;
  text-align: center;
  font-family: 'Old Standard TT', serif;
  color: #444;
}
.homepage .intro .title{
  font-size: 48px;
  margin: 0px 0 16px 0;
}
.homepage .intro h2.subtitle{
  margin-top: 32px;
  font-size: 24px;
  font-style: italic;
}
.homepage .intro h3.subtitle{
  font-size: 32px;
}
.homepage .section1 {
  /*background-image: url("../../assets/img/slide1.jpg");*/
}
.homepage .section2 {
background-image: url("../../assets/img/slide1.jpg");}
 
.homepage .section3 {
background-image: url("../../assets/img/slide1.jpg");
}
.homepage .jumbotron{
  margin-bottom: 0;
  border-radius: 0;  
}
.homepage .about p{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #000;
  line-height: 36px;
  margin-top: 60px;
  /*margin-bottom: 40px;*/
  font-weight: 300;
}
.homepage .archive{
  margin: 80px 0;
}
.homepage .archive{
  margin: 80px 0;
  font-family: 'Old Standard TT', serif;
}
.homepage .archive h2.title{
  text-align: center;
  font-size: 32px;
  color: #444;
}
.homepage .archive table{
  margin: 40px auto;
  color: #444;
  font-size: 20px;
  font-weight: 300;
}
.homepage .archive td{
  padding: 10px 20px;
}
.homepage .archive tr td:first-of-type{
  font-weight: 700;
  text-align: right;
  /*font-style: italic;*/
  border-right: 1px solid #1565C0;
}
.homepage .archive tr td:last-of-type{
  text-align: left;
}
