.mainpage{
  margin-top: 72px;
}
.mainpage h1{
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #3372df;
  font-weight: 400;
}
.mainpage .full-width-card{
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  line-height: 1.5;
  min-height: 50px;
}
.mainpage a{
  color: inherit;
  text-decoration: none;
}
.mainpage .full-width-card a:hover{
  border-bottom: 1px dotted #BBB;
}
.mainpage .full-width-card:hover{
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.6);
}
.mainpage .full-width-card.blue-edge{
  border-left: 5px solid #3372df;
}
.mainpage .full-width-card h4.publication-details span:not(:last-of-type):after{
  content: ' | ';
  color: #444;
  margin: 0 8px;
}
.mainpage .full-width-card h4.publication-details{
  font-size: 16px;
  font-weight: 300;
}
.mainpage .full-width-card h2.title{
  font-size: 20px;
  color: #000;
  font-weight: 300;
  padding-top: 30px;
}
.mainpage .full-width-card h3.author{
  font-size: 16px;
  color: #333;
  font-weight: 300;
  font-style: italic;
}
.mainpage .full-width-card h3.author:before{
 content: 'by ';
 margin-right: 2px;
}
.mainpage .full-width-card .gray{
  color: #555;
}
.mainpage .full-width-card .red{
  color: #BE0709;
}
.mainpage .alphabet {
  margin-top: 20px;
}
.mainpage .alphabet .letter {
  font-size: 16px;
  margin-right: 10px;
}