.mainpage{
  margin-top: 72px;
  margin-bottom: 100px;
}
.mainpage h1{
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #3372df;
  font-weight: 400;
}
.mainpage .full-width-card{
  font-family: 'Roboto', sans-serif;
  margin: 30px 0;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  line-height: 1.5;
  min-height: 50px;
}
.mainpage a{
  color: inherit;
  text-decoration: none;
}
.mainpage .full-width-card a:hover{
  border-bottom: 1px dotted #BBB;
}
.mainpage .full-width-card:hover{
  box-shadow: 0 1px 5px rgba(34, 25, 25, 0.6);
}
.mainpage .full-width-card.blue-edge{
  border-left: 5px solid #3372df;
}
.mainpage .full-width-card.red-edge{
  border-left: 3px solid #be0709;
}
.mainpage .full-width-card h4.publication-details span:not(:last-of-type):after{
  content: ' | ';
  color: #444;
  margin: 0 8px;
}
.mainpage .full-width-card h4.publication-details{
  font-size: 16px;
  font-weight: 300;
}
.mainpage .full-width-card h2.title{
  font-size: 20px;
  color: #000;
  font-weight: 300;
  padding-top: 30px;
}
.mainpage .full-width-card h3.author{
  font-size: 16px;
  color: #333;
  font-weight: 300;
  font-style: italic;
}
.mainpage .full-width-card h3.author.by:before{
 content: 'by ';
 margin-right: 2px;
}
.mainpage .full-width-card .gray{
  color: #555;
}
.mainpage .full-width-card .red{
  color: #BE0709;
}
.mainpage .full-width-card .brown{
  color: #9c581b;
}
.mainpage .alphabet {
  margin-top: 20px;
}
.mainpage .alphabet .letter {
  font-size: 16px;
  margin-right: 10px;
}
.mainpage .yearRow{
  margin: 30px 0 0 0;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  line-height: 1.5;
  min-height: 30px;
  justify-content: space-around;
}
.mainpage .yearRow .year{
  font-size: 16px;
  padding: 10px;
  min-width: 80px;
  text-align: center;
}
.mainpage .yearRow .year:hover, .yearRow .active{
  background-color: #EEE;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  box-shadow: 0px -1px 2px rgba(34, 25, 25, 0.4);
}
.mainpage .issueHolder{
  margin: 0px auto 0 auto;
  box-shadow: 0px 2px 2px rgba(34, 25, 25, 0.1);
  line-height: 1.5;
  display: none;
  width: 100%;
}
.mainpage .issueRow{
  background-color: #EEE;  
  width: 100%;
}
.mainpage .issueRow.row{
  margin-right: 0;
  margin-left: 0;
}
.mainpage .issueRow .issue{
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 10px 0;
  text-align: center;
  max-width: 78px;
}
.mainpage .issueRow .issue a{
  color: #3D3536;
}
.mainpage .issueRow .deLimiter{
  font-size: 14px;
  padding: 10px 0 10px 0;
}

/*Search styles*/
.mainpage .searchForm {
  margin-top: 64px;
  font-family: 'Roboto', sans-serif;
}
.mainpage .searchForm .row{
  margin-bottom: 24px;
}
.mainpage .searchForm .form-control-label{
  text-align: right;
  vertical-align: bottom;
  font-size: 18px;
  font-weight: 300;
  color: #555;
}
.mainpage .searchForm input.form-control:focus{
  box-shadow: none;
}
.mainpage .searchForm input.form-control[type="text"]{
  border: none;
  border-bottom: 2px dashed #3372df;
  border-radius: 0;
  outline: none;
  padding-top: 7px;
  font-size: 18px;
  font-weight: 300;
  color: #555;
}
.mainpage .searchForm input.form-control[type="submit"], 
.mainpage .searchForm input.form-control[type="reset"]{
  border-radius: 0;
  cursor: pointer;
}
.mainpage .searchForm input.form-control[type="submit"]:focus, 
.mainpage .searchForm input.form-control[type="submit"]:hover {
  border-color: #28a745;
}
.mainpage .searchForm input.form-control[type="reset"]:focus, 
.mainpage .searchForm input.form-control[type="reset"]:hover{
  border-color: #dc3545;
}
