<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Articles in Volume 001, issue 01
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <ol>
        <li *ngFor="let article of articles">
          <h3>{{ article.title }}</h3>
          <h4>{{ article.authornames }}</h4>
          <p>Volume {{ article.volume }}, Issue {{ article.part }}, {{ article.month }} {{ article.year }}</p>
        </li>
      </ol>
    </div>
  </div>
</div>